<head>
  <meta charset="UTF-8">
  <title>Twitter-fake</title>
  <link rel="stylesheets" href="normalize.css">
  <link rel="stylesheets" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
  </div>
</body>

