# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b9707ac46886d886b05e5e768ccaa36b8a06c3df64278968deda69221d8716c1317924b06ca83c10bce72c5ffa57e4fb11e914e867b630134f80cd71533eeced

test:
  secret_key_base: 26eef0ddc722fa4891fcf062c3dc7710d7f870db8ea263a7d4adcac07579326da99e7e6ef421f430e827f6cc8a3bb558f19ec996f9759e4d14eb157ef589c176

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
